body{
    background-image: url("~src/assets/img/htm1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    background-color: rgb(244, 235, 130);
    width: 100%;
    height: 60px;
}
.btns{
    padding: 30px;
    text-align: center;
    position: absolute;
}
.btn-container{
    background-color: rgba(255, 127, 223, 0.584);
    height: 350px;
    width: 400px;
    position: relative;
    top: 100px;
    left: 450px;
}
.btn{
    margin: 10px;

}