body{
    background-image: url("~src/assets/img/imgHome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    background-color: orange;
    width: 100%;
    height: 60px;
}
.btns{
margin-left: 250px;
position: absolute;

}
.btn{
    margin: 10px;

}