.main{
    width: 520px;
    border: 1px solid #000000;
    background-color: rgb(228, 145, 178);
    margin: auto;
    padding: 15px;
    margin-top: 50px;
}
.input{
    width: 450px;
}
.btn{
    background-color: #f20e31;
    color: white
}
.div-submit{
    text-align: center;
}
.btn:hover{
    opacity: 0.4;
}
.btn1{
    margin: 15px;
}