<body>
    <div class="main">
        <button type="button" class="btn btn-outline-danger" routerLink="/home">Back</button>
        <div class="btn-container">
        <div class="btns">
        <button type="button" class="btn btn-primary" style="height: 70px; width: 300px;" routerLink="/admin/adminsignin">Sign in</button>

        <button type="button" class="btn btn-danger" style="height: 70px; width: 300px;" routerLink="/admin/adminsignup">Sign up</button>

        <button type="button" class="btn btn-success" style="height: 70px; width: 300px;" routerLink="/admin/adminsuccess">Hotel List</button>
    </div>
    </div>
    </div>
    
</body>